:root {
  --primary: #204bbd;
  --darker-primary: #0b2772;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.primary-input {
  border: 1px solid #204bbd;
  outline: none;
  padding: 5px;
  border-radius: 3px;
}

.primary-button {
  background: var(--primary);
  border: none;
  font-size: 16px;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--darker-primary);
  }

  &:active {
    transform: scale(0.9);
  }
}

.primary-button.active {
  background-color: var(--darker-primary);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-link {
  color: black;
  text-align: right;
  width: 100%;
  display: block;
  margin-top: 5px;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 5px;
}

.black-bold {
  color: black;
  font-weight: bold;
}